
                <div class="c-contact__address">
                    <address class="o-article">
                        <p>Justyna Andrasz – Onichowska</p>
                        <p>&nbsp;</p>
                        <p>t. +48 604 387 145</p>
                        <p><a href="mailto:andraszj@gmail.com">andraszj@gmail.com</a></p>
                        <p>Ul. Uphagena 28</p>
                        <p>Gdańsk Wrzeszcz</p>
                    </address>
                </div>

