
    <div class="c-contact" id="kontakt">
        <div class="o-section">
            <div class="o-wrap"> 
                
                <h2 class="o-lead--1">Kontakt</h2>
                
                <article class="o-article">
                    <p>W trosce o Państwa zdrowie i komfort, zapraszam do spotkań bezpośrednich w&nbsp;gabinecie, a także on-line za pośrednictwem Skype.</p>
                </article>
                
                <div class="c-contact__image">
                    <img width="227" height="214" src=<%= require("./img/illustrations/kontakt.svg") %> alt="kontakt">
                </div>

                <h3 class="o-lead--2 anim anim--up">Zapraszam do kontaktu</h3>
                
                <address class="o-article anim anim--up">
                    <p>Justyna Andrasz – Onichowska</p>
                    <p>t. +48 604 387 145</p>
                    <p><a href="mailto:andraszj@gmail.com">andraszj@gmail.com</a></p>
                    <p>Ul. Uphagena 28</p>
                    <p>Gdańsk Wrzeszcz</p>
                </address>
            </div>
        </div>
    </div>
