
    <div class="c-forbusiness" id="dla-biznesu">
        <div class="o-section">
            <div class="o-wrap anim anim--left">                
                
                <h2 class="o-lead--1 in-desktop">Dla Twojej<br> organizacji / biznesu</h2>

                <div class="o-cols o-cols--2">
                    <div class="o-cols__item">
                        
                        <h2 class="o-lead--1 in-mobile">Dla Twojej<br> organizacji / biznesu</h2>
                        
                        <article class="o-article">
                            
                            <p>W biznesie szczególnie interesuje mnie komunikacja wewnętrzna. Uważam, że to bardzo ważny i często niedoceniany obszar. Swoją przygodę zawodową rozpoczęłam w branży TSL, której rozproszenie pracowników jest cechą charakterystyczną. Wówczas dostrzegłam jak istotne jest zadbanie o kulturę komunikacji w organizacji.</p>
                            
                            <p>&nbsp;</p>

                            <p>Jestem absolwentką wydziału Przedsiębiorczości Wyższej Szkoły Biznesu – National Louis University, certyfikowanym coachem ICF. Znam i rozumiem procesy biznesowe.</p>
                        </article>
                    </div>
                    
                    <div class="o-cols__item">
                    	<img 
                            width="270" height="352"
                            src=<%=require("./img/illustrations/dla-biznesu.svg") %> alt="dla biznesu">
                    </div>
                </div>
                
                
                <article class="o-article">
                    <h3>
                        <strong>Obszary, w których wspieram organizacje:</strong>
                    </h3>
                    
                    <ul>
                        <li>Procesy rozwojowe pracowników na różnych szczeblach organizacji.</li>
                        <li>Szkolenia, warsztaty z obszaru szeroko rozumianych umiejętności miękkich niezbędnych w procesach komunikacyjnych.</li>
                        <li>Merytoryczne wsparcie w obszarze kultury komunikacji w organizacji i innych procesach HR.</li>
                        <li>Obejmę opieką psychologiczną pracowników Twojej firmy realizując autorski projekt <strong>„well mind”</strong>.</li>
                    </ul>
                </article>
                
                
                <hr>
            </div>
        </div>
    </div>
