
    <div class="c-foryou" id="dla-ciebie">
        <div class="o-section">
            <div class="o-wrap">                
                
                <div class="o-cols">
                    <div class="o-cols__item">
                        <h2 class="o-lead--1">Dla Ciebie</h2>
    
                        <article class="o-article">
                            
                            <h4>Prowadzę terapię indywidualną.</h4>
                            
                            <p>Podstawą pracy terapeutycznej jest relacja terapeutyczna, w której każda osoba czuje się bezpiecznie. Czuje akceptację i zrozumienie. To&nbsp;przestrzeń na otwartość i szczerość, ważną w&nbsp;procesie terapeutycznym.</p>
                        </article>
                    </div>
                    
                    <div class="o-cols__item">
                    	<img src=<%=require("./img/illustrations/dla-ciebie.svg") %> alt="dla ciebie">
                    </div>
                </div>
            </div>
        </div>
    </div>
