
    <div class="c-footer">
        <div class="o-section">
            <div class="o-wrap"> 
                
                <% include footer__logo %>
                
            </div>
        </div>
    </div>
