
    <div class="o-section c-intro" id="intro">
        <div class="o-wrap">
            
            <div class="o-cols o-cols--2">
                <div class="o-cols__item">
                    <article class="o-article">
                        
                        <p>Jestem psychologiem, interesuje mnie rozwój człowieka na przestrzeni wieku. Wiem, że każdy człowiek posiada ogromny potencjał, zasoby, które czasem trudno dostrzec.</p> 
                        
                        <p>&nbsp;</p>
                        
                        <p>Wierzę w ogromną siłę komunikacji, wzajemnego zrozumienia i umiejętność słuchania, które jest podstawą każdej relacji.</p>
                    </article>
                    
                    <div class="c-intro__sign in-desktop">Justyna<br> Andrasz-Onichowska</div>
                    
                    <a href="#kontakt" class="o-btn js-goto">Zapraszam do Kontaktu</a>
                </div>
                
                <div class="o-cols__item">
                    	<img 
                            class="b-lazy"
                            width="359" height="303"
                            src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" 
                            data-src=<%=require("./img/photos/justyna-andrasz-onichowska.png") %>|<%=require("./img/photos/justyna-andrasz-onichowska@2x.png") %> alt="justyna andrasz onichowska">

                        <div class="c-intro__sign in-mobile">Justyna<br> Andrasz-Onichowska</div>
                </div>
            </div>
            
        </div>
    </div>
