
    <div class="c-helpfor" id="dla-ciebie">
        <div class="o-section">
            <div class="o-wrap anim anim--left">
                <h2 class="o-lead--3 in-desktop">
                    <strong>Najczęściej wspieram<br> i pomagam osobom doświadczającym:</strong>
                </h2>
                
                <div class="o-cols o-cols--2">
                    <div class="o-cols__item">
                        
                        <h2 class="o-lead--3 in-mobile">
                            <strong>Najczęściej wspieram<br> i pomagam osobom doświadczającym:</strong>
                        </h2>
        

                        <article class="o-article">
                            <ul>                                
                                <li>Kryzysu związanego z ważnymi, trudnymi wydarzeniami w życiu</li>
                                <li>Trudności / sytuacji konfliktowych w relacji, związku</li>
                                <li>Trudności związanych ze stratą, utratą osoby bliskiej, żałobą</li>
                                <li>Obniżonego nastroju, stanów depresyjnych</li>
                                <li>Trudności w komunikacji, relacjach z innymi ludźmi</li>
                                <li>Stresu</li>
                                <li>Braku zaufania do siebie, swoich umiejętności, potrzeb</li>
                                <li>Trudności wychowawczych</li>
                                <li>Zmiany życiowej związanej w adaptacją do nowej sytuacji</li>
                            </ul>
                            
                        </article>
                    </div>
                    
                    <div class="o-cols__item">
                        <img src=<%=require("./img/illustrations/najczesciej-wspierane.svg") %> alt="najczesciej wspierane">
                    </div>
                </div>
                
                <hr class="in-desktop">
            </div>
        </div>
    </div>
