
            <nav class="c-nav js-nav">
                <ul class="c-nav__menu js-menu">
                    <li>
                        <a href="#o-mnie" class="js-goto">O mnie</a>
                    </li>
                    
                    <li>
                        <a href="#dla-ciebie" class="js-goto">Dla Ciebie</a>
                    </li>
                    
                    <li>
                        <a href="#dla-biznesu" class="js-goto">Dla organizacji - biznesu</a>
                    </li>
                    
                    <li>
                        <a href="#kontakt" class="js-goto">Kontakt</a>
                    </li>
                </ul>
            </nav>
