
    <div class="o-section c-about" id="o-mnie">
        <div class="o-wrap">
            
            <h2 class="o-lead--1 in-desktop">O mnie</h2>
            
            <div class="o-cols o-cols--2">
                <div class="o-cols__item">
                    
                    <h2 class="o-lead--1 in-mobile">O mnie</h2>
                    
                    <article class="o-article">
                        
                        <p>Ukończyłam psychologię na Uniwersytecie SWPS. Obecnie studiuję w Szkole Psychoterapii Poznawczo – Behawioralnej Crescentia, rekomendowanej przez Polskie Towarzystwo Psychoterapii Poznawczo – Behawioralnej.</p>
                        
                        <p>&nbsp;</p>
                        
                        <p>W swojej pracy stosuję metody terapii poznawczo – behawioralnej. Fascynuje mnie terapia schematów, która wywodzi się z terapii poznawczo – behawioralnej i zawiera elementy kilku nurtów. W tym kierunku planuję rozwój.</p>
                        
                        <p>&nbsp;</p>
                        
                        <h4>Lubię swój zawód. Rozwijam się i doskonalę swoje umiejętności aby móc profesjonalnie pomagać innym.</h4>
                    </article>
                </div>
                
                <div class="o-cols__item">
                	<img src=<%=require("./img/illustrations/o-mnie.svg") %> alt="o mnie">
                </div>
            </div>            
        </div>
    </div>
