
    <div class="c-offer">
        <div class="o-section">
            <div class="o-wrap"> 
            
                <h4 class="o-lead--3" style="background-image: url(<%= require('./img/assets/underline-1.svg') %>)">Konsultacja psychologiczna</h4>
                
                <article class="o-article o-article--columns">
                    <p>Zazwyczaj kilka pierwszych spotkań psychologa z osobą zgłaszającą się po pomoc. W tym czasie psycholog ma możliwość aby wstępnie rozpoznać stan emocjonalny, sytuację życiową oraz trudność, z którą boryka się dana osoba.</p>
                    
                    <p>To pierwszy etap, niezwykle ważny, ponieważ zaczyna się budować relacja terapeutyczna. Osoba zgłaszająca się po pomoc ma możliwość zapoznania się z psychologiem, w bezpiecznej atmosferze. Jest to też czas aby podjąć decyzję o dalszej współpracy, czy skierować osobę do innego specjalisty.</p>
                </article>
                
                <hr>
                
                <h4 class="o-lead--3" style="background-image: url(<%= require('./img/assets/underline-2.svg') %>)">Psychoterapia</h4>
                
                <article class="o-article o-article--columns">
                    <p>Proces psychoterapeutyczny tworzą regularne spotkania zorientowane na określone cele terapeutyczne. W procesie leczenia wykorzystuję metody dostosowane do sytuacji danej osoby. Podstawą jest relacja terapeutyczna, poczucie bezpieczeństwa i otwartości.</p>
                    
                    <p>Rolą psychoterapeuty jest pomóc w zrozumieniu pojawiających się trudności, ich źródeł, motywów zachowań, myśli i emocji, wspierać i towarzyszyć w dotarciu do celu.</p>
                </article>
                
                <hr>
                
                <div class="c-offer__more">
                    <a href="#kontakt" class="o-btn js-goto">Zapraszam do Kontaktu</a>
                </div>
            </div>
        </div>
    </div>
