
    <div class="c-top">
        <div class="o-wrap o-wrap--wide">
            <div class="o-hamburger js-hamburger"><i></i></div>
            
            <a href="index.html" class="o-logo">
                <img src=<%= require("./img/logos/zadbaj-o-siebie.svg") %> alt="zadbaj o siebie">
            </a>
            
            <% include nav %>
        </div>
    </div>
