
    <div class="c-wellmind" id="dla-biznesu">
        <div class="o-section">
            <div class="o-wrap anim anim--up"> 
                
                <div class="c-wellmind__logo">
                    <img src=<%= require("./img/logos/well-mind.svg") %> alt="well mind">
                </div>               
                
                <h4 class="o-lead--4">Obserwując sytuację na Świecie i rynku pracy związaną z pandemią stworzyłam projekt „well mind”. To propozycja opieki i wsparcia psychologicznego dla Ciebie i pracowników Twojej firmy.</h4>

                <div class="o-cols">
                    <div class="o-cols__item">
                        <article class="o-article">
                            
                            <p>Obecna sytuacja wymaga <em>od organizacji szczególnego zaangażowania. Z jednej strony trudna sytuacja na rynku, która bezpośrednio wpływa na ekonomiczne wskaźniki, a często też na „być lub nie być”.</em></p>
                            
                            <p>&nbsp;</p>
                        </article>
                    </div>
                    
                    <div class="o-cols__item"></div>
                </div>
                
                
                <div class="o-cols">
                    <div class="o-cols__item">
                        <article class="o-article">
                            <p><em>Z drugiej strony pracownicy, którzy zmagają się z uczuciem niepewności, lęku, być może doświadczają straty lub stają w obliczu kluczowych</em> zmian życiowych. To duże i niełatwe wyzwania.</p>
                            
                        </article>
                    </div>
                    
                    <div class="o-cols__item">
                    	<article class="o-article">
                        	<p>Zapraszam do współpracy psychologów. Umożliwiamy bezpośredni kontakt pracowników Twojej organizacji z psychologiem. Szczegóły projektu dostosowujemy indywidualnie do potrzeb organizacji.</p>
                    	</article>
                    </div>
                </div>


                <div class="c-wellmind__download">
                    <a href="#" class="pdf">Sprawdź ofertę</a>
                </div>
                
                <hr>
            </div>
        </div>
    </div>
