html:not(.ie) {
    .anim {
            &--delay1 {
                transition-delay: 150ms;
            }
            
            &--delay2 {
                transition-delay: 250ms;
            }
            
            &--delay3 {
                transition-delay: 350ms;
            }
            
            &--delay4 {
                transition-delay: 450ms;
            }
    
            transition: all 600ms ease-out;
            opacity: 0;
            
            
            
            &--left {
                transform: translate3d(-50px, 0, 0);
            }
            
            &--right {
                transform: translate3d(50px, 0, 0);
            }
            
            &--scale {
                transform: scale3d(0, 1, 1);
            }
            
            &--up {
                transform: translate3d(0, 50px, 0);
            }
            
            &--visible {
                transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
                opacity: 1;
            }
    }
    
    hr.anim {
        opacity: 1;
        transition: all 1600ms ease-out;
    }
}


.is-hidden {
    display: none;
}



// Text

.aligncenter {
    text-align: center;
}

.color-primary {
    color: var(--primary-color);
}

.u-cover {
    transition: all 500ms ease-out;
    opacity: 1;
    
    .is-loaded & {
        opacity: 0;
    }
}

.u-ratio {
    height: 0;
    width: 100%;
    padding-bottom: 56.7%;
}


// Backgrounds

.bg-gray {
}

.in-desktop {
    @media ( max-width: $tablet_portrait + px ) {
    	display: none;
    }
}

.in-mobile {
    @media ( min-width: $tablet_portrait + 1px ) {
    	display: none;
    }
}