.o-btn {
    @extend %rel;
    display: inline-flex;
    height: 52px;
    width: 250px;
    white-space: nowrap;
    background-color: red;
    border-radius: 26px 16px;
    //padding: 0 50px 0 50px;
    font-family: $text;
    color: $c-black-01;
    cursor: pointer;
    font-weight: $bold;
    letter-spacing: -0.54px;
    color: black;
    
    span {
        @extend %flex;
        @extend %flex-xy;
        height: 100%;
        background-color: white;
        border: 2px solid black;
        border-radius: 26px 16px;;
        padding-bottom: 6px;
    }
    
    &:after {
        @extend %abs-pseudo; z-index: -1;
        @extend %anim;
        background-color: $c-primary;
        width: 250px; height: 52px;
        border-radius: 26px 16px;
    }

    span {
        width: 100%;
	}
}

a.o-btn,
button.o-btn {
//    .desktop & {
    
        &:hover {
	        
	        &:after {
    	        transform: translate3d(10px, 10px, 0);
	        }
        	//background-color: var(--primary-color);

        }
//    }
}
