.o-hamburger {
    @include z-index(hamburger);
    @extend %anim;
    @extend %flex;
    @extend %flex-xy;
    @extend %rel;
    width: 26px; height: 22px;
	cursor: pointer;
	
	@media screen and ( min-width: $tablet_portrait + 1px ) {
        display: none;
    }
    
    i {
        @extend %abs;
        @extend %abs-y;
        display: block;
        width: 100%; 
        height: 3px;
        background-color: $c-black-01;
        border-radius: 6px;
    }

    &:after, &:before {
        @extend %abs;
        @extend %abs-after;
        @extend %anim;
        width: 100%; 
        height: 3px;
        background-color: $c-black-01;
        border-radius: 6px;
    }
 
    &:after {
	    left: 0;
        top: 0;
        width: 50%;
    }

    &:before {
        height: 3px;        
        bottom: 0;
        transform-origin: left;
    }

    &:hover {
        border-color: $c-black-01;
    }

    &.is-active {
        //border-color: transparent !important;

        &:after {
            left: 50%;
            transform: translateX(-50%);
        }
        
        &:before {
            width: 50%;
        }
    }
}

