.o-wrap {
	width: $base + 80px;
	margin: 0 auto;	
	padding: {
    	left: 40px;
    	right: 40px;
	}
	
	&--wide {
    	width: $base2 + 80px;

    	@media ( max-width: $base2 + 80px ) {
        	width: 100%;
        }
	}

    &:not(.o-wrap--wide) {
    	@media ( max-width: $base + 80px ) {
    	    width: 100%;
    	    max-width: 960px;
    	}
    }
    	
/*
	@media ( max-width: $tablet + px ) {
        padding: {
        	left: 20px;
        	right: 20px;
    	}
    }
*/
    
    @media ( max-width: $smartphone_portrait + px ) {
        padding: {
        	left: 15px;
        	right: 15px;
    	}
    }
}
