.c-footer {
    
    &__logo {
        text-align: center;
        
        img {
            margin: 0 auto;
        }
        
        .o-lead {
            &--5 {
                text-transform: uppercase;
            }
        }
    }

    .o-section {
        padding: {
            top: 0;
            bottom: 40px;
        }
    }
}