.c-nav {
    @extend %rel;
    @include z-index(nav);
    
    &:before, &:after {
        @extend %abs;
        @extend %abs-after;
        z-index: -1;
        background-repeat: no-repeat;
        
        @media ( min-width: $tablet_portrait + 1px ) {
        	display: none;
        }
    }
    
    &:before {
        left: 0;
        width: 150px; height: 370px;
        background-image: url(../img/assets/nav-shape-1.svg);     
        top: 100%;
    }
    
    &:after {
        left: auto;
        right: 0; top: 50%;
        transform: translateY(-50%);
        width: 140px; height: 460px;
        background-image: url(../img/assets/nav-shape-2.svg);        
    }
    
    &__menu {
        
        ul {
            @media ( min-width: $tablet_portrait + 1px ) {
                display: flex;
            }
            
            @media ( max-width: $tablet_portrait + px ) {
            	margin-bottom: 70px;
            }
        }
        
        li {
            padding: 0 20px;
        }
        
        a {
            @extend %rel;
            white-space: nowrap;
            font-size: rem(14);
            
            &:after {
            	@extend %abs;
            	@extend %abs-after;
            	@extend %anim;
            	left: 50%;
                //transform: translate3d(-50%, 0, 0);
                width: 30px; height: 3px;
            	background-color: $c-violet-01;
                border-radius: 6px;
                opacity: 0;
            	
            	@media ( max-width: $tablet_portrait + px ) {
            	    display: none;
                }
            }
            
            &:hover {
                .desktop & {
                    &:after {
                        opacity: 1;
                        //transform: translate3d(-50%, 12px, 0);
                    }
                }
            }
        }
    }
    
    &.is-block {
        display: block;
    }
    
    .c-contact__address,
    .c-footer__logo {
        @media ( min-width: $tablet_portrait + 1px ) {
            display: none;
        }
    }
    
    .c-contact__address {
        margin-bottom: 40px;
    }
    
    @media ( max-width: $tablet_portrait + px ) {
        position: fixed;
        left: 0;
        top: 100px;
        width: 100%; 
        height: calc(100vh - 100px);
        background-color: white;
        //transform: translate3d(0, 100%, 0);
        overflow: scroll;
        opacity: 0;
    	-webkit-overflow-scrolling: touch;
        pointer-events: none;
        padding-bottom: 40px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
	    text-align: center;
	    padding: 40px 0;
        
        &__menu {
	        width: 100%;
	        margin-bottom: 20px;

            li {  
               a {
                   display: inline-block;
                   padding: 10px 0;
                   font-size: rem(24);
               }
            }
        }
        
        
        

        &.is-visible {
            transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            transform: translate3d(0,0,0);
            opacity: 1;
            pointer-events: auto;
        }
    }
}