// Fonts

$lato:              'Lato', serif;
$icomoon:           'icomoon';
$merriweather:		'Merriweather', sans-serif;
$playfair:          'Playfair Display';
$text:		        $lato;




// Font weights

$extralight:        200;
$light:             300;
$regular:           400;
$medium:            500;
$semibold:          600;
$bold:              700;
$extrabold:         800;


$z-index: (
    hamburger:      100,
    header:         30,
	top:            40,
	nav:            50,
	logo:           60
);

// Paths

$path_img:          '../img';
$path_fonts:        '../fonts';



// Default
$design:          1800;
$base-font-size:	16;
$base:				960;
$base2:            1170;


// RWD

$tablet:               1024;
$tablet_portrait:       768;
$smartphone:			640;
$smartphone_portrait:	500;