<% include ./src/includes/head %>
<body>
<noscript>Your browser does not support JavaScript!</noscript>

        <% include ./src/includes/cover %>
        <% include ./src/includes/top %>
        
    <div class="o-container">        
        
        <div class="o-shapes o-shapes--1">
            <% include ./src/includes/intro %>
            <% include ./src/includes/o-mnie %>
        
            <hr>
        </div>
        
        <div class="o-shapes o-shapes--2">
            <% include ./src/includes/dla-ciebie %>
            <% include ./src/includes/offer %>
        </div>
        
        <div class="o-shapes o-shapes--3">
            <% include ./src/includes/najczesciej-wspierane %>
            <% include ./src/includes/dla-biznesu %>
        </div>

        <div class="o-shapes o-shapes--4">
            <% include ./src/includes/wellmind %>
            <% include ./src/includes/contact %>
            <% include ./src/includes/footer %>
        </div>
        
    </div>
</body>
</html>


